html{
    background-color: #333333;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: steelblue;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 300px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10px 20px 10px 20px;
    font-size: 1rem;
    gap: 20px;
}

.search-group{
    display: flex;
    flex-direction: column;
}

.search-group__label{
    padding: 0px 0px 10px 0px;
}

.search-group__input{
    padding: 10px 20px 10px 20px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
}

.format-filter{
    display: flex;
    flex-direction: column;
}

.format-filter__label{
    padding: 0px 0px 10px 0px;
}

.format-filter__select{
    padding: 10px 20px 10px 20px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
}

.file-item{
    padding: 40px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    background-color: #ffffff;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-item-list-item__url{
    margin: 0px 20px 0px 0px;
    font-size: 1rem;
}

.file-item-list-item__title{
    margin: 0px 20px 0px 0px;
    font-size: 1rem;
}

.file-item-list-item__request-download{
    padding: 10px 20px 10px 20px;
    background-color: #777777;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 0px #353535;
}

.file-item-list-item__request-download:hover{
    filter: brightness(1.4)
}

.file-item-list-item__download-complete{
    padding: 10px 20px 10px 20px;
    background-color: #4d944d;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 0px #415541;
}

.file-item-list-item__download-complete:hover{
    filter: brightness(1.4)
}

.file-item-list-item__remove{
    padding: 10px 20px 10px 20px;
    background-color: #cc2e29;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 0px #692a28;
}

.file-item-list-item__remove:hover{
    filter: brightness(1.4)
}


.files{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.clear_files{
    padding: 10px 20px 10px 20px;
    background-color: #cc2e29;
    color: #ffffff;
    font-weight: bold;
    border: none;
    width: 100%;
    box-shadow: 2px 2px 2px 0px #692a28;
}

.clear_files:hover{
    filter: brightness(1.4)
}