.content{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 20px;
    font-size: 1.5rem;
}

.input-group{
    display: flex;
    flex-direction: row;
}

.automatic-download__checkbox{
    margin: 0px 20px 0px 0px;
}

.automatic-download__label{
    font-size: 0.875rem;
}

.files{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.file-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-item__file-name{}

.file-item__file-audio-progress .file-item__file-video-progress{
    display: flex;
    flex-direction: column;
}

.file-item-file-progress__title{
    font-size: 1rem;
}

.file-item-file-progress__bar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-item-file-progress-bar__percentage{
    font-size: 1.25rem;
    font-weight: bold;
    z-index: 3;
}

.file-item-file-progress-bar__loaded{
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0044dd;
    z-index: 2;
}

.file-item-file-progress-bar__background{
    top: 0;
    left: 0;
    position: absolute;
    background-color: #444444;
    z-index: 1;
}

.file-item__controls{
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 20px;
}

.file-item-controls__download-audio{
    padding: 10px 20px 10px 20px;
    background-color: #0055ff;
}

.file-item-controls__download-video{
    padding: 10px 20px 10px 20px;
    background-color: #0055ff;
}

.file-item__title{
    margin: 0px 0px 20px 0px;
    font-size: 1.25rem;
}

.file-item__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-item-list__item{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    padding: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
}

.file-item-list-item__url{
    margin: 0px 20px 0px 0px;
    font-size: 1rem;
}

.file-item-list-item__title{
    margin: 0px 20px 0px 0px;
    font-size: 1rem;
}

.file-item-list-item__request-download{
    padding: 10px 20px 10px 20px;
    background-color: #777777;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 0px #353535;
}

.file-item-list-item__download-complete{
    padding: 10px 20px 10px 20px;
    background-color: #4d944d;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 0px #415541;
}

.file-item-list-item__remove{
    padding: 10px 20px 10px 20px;
    background-color: #cc2e29;
    color: #ffffff;
    font-weight: bold;
    border: none;
    box-shadow: 2px 2px 2px 0px #692a28;
}